.panel.panel-default
  .panel-heading
    .panel-title.text-center
      %time{datetime: true}
        = day.date.strftime("%A, %e %B %Y")
  .panel-body
    - unless day.has_time_blocks?
      %p.lead.text-center
        %em
          = day.note
    - else
      - day.time_blocks.each do |block|
        %p.lead
          %strong
            = block.title
        - if block.note
          .lead
            = block.note
        - block.business_items.each do |item|
          .lead
            = item.description
            %small
              = item.pdf_info['filename']
              = item.pdf_info['page']
              = item.pdf_info['line']


