
%p.lead.text-center
  %strong
    = day.date.strftime("%A, %e %B %Y")

- unless day.has_time_blocks?
  %p.lead.text-center
    %em
      = day.note
- else
  - day.time_blocks.each do |block|
    %p.lead
      %strong
        = block.title
    - if block.note
      %p.lead
        = block.note
    - block.business_items.each do |item|
      %p.lead
        = item.description

%hr
