
.row
  .col-md-6.col-md-offset-4
    %h3
      = day.date.strftime("%A %e %B")
    %p
      %a{:href => "http://services.parliament.uk/calendar/Lords/#!/calendar/Lords/MainChamber/" + day.date.strftime("%Y/%-m/%d") + "/events.html"}
        parliament.uk/calendar
       
        
  - unless day.has_time_blocks?
    .col-md-6.col-md-offset-4
      %p
        = day.note
        
  - else
    - day.time_blocks.order("position asc").each do |block|
      - pdfinfo = block.meta['pdf_info']

      .col-md-4        
        .pull-right
          =block.place
          =block.time_as_number
      .col-md-6
        - if block.note
          =block.note

        - block.business_items.order("position asc").each do |item|
          %p= item.description.gsub(/QSD\b/, "<strong>QSD</strong>")
        %p
          %a{:title => pdfinfo['filename'], :href => 'pdf/' + pdfinfo['filename']}
            = "PDF &ndash; page #{pdfinfo['page']}, line #{pdfinfo['line']}."
          
          
