.panel.panel-default
  .panel-heading
    %h2.panel-title.text-center
      %time{datetime: true}
        = day.date.strftime("%A, %e %B %Y")
  .panel-body
    - unless day.has_time_blocks?
      .lead.text-center
        %em
          = day.note
    - else
      - day.time_blocks.each do |block|
        %h3
          = block.title
        - if block.note
          .lead
            = block.note
        - block.business_items.each do |item|
          .lead
            = item.description
