%p.text-center
  %strong
    = day.date.strftime("%A, %e %B %Y")

- unless day.has_time_blocks?
  %p.text-center
    %em
      = day.note
- else
  - day.time_blocks.each do |block|
    %p
      %strong
        = block.title
    - if block.note
      %p
        = block.note
    - block.business_items.each do |item|
      %p
        = item.description
        
%hr
    