.list-group-item
  %h3
    %time{datetime: true}
      = day.date.strftime("%A, %e %B %Y")
  - unless day.has_time_blocks?
    .text-muted.lead
      = day.note
  - else
    - day.time_blocks.each do |block|
      %h4
        = block.title
      - if block.note
        .lead
          = block.note
      - block.business_items.each do |item|
        .lead
          = item.description
