%h2
  =@date.strftime("%A, %e %B %Y")
  
#editor.lead
  - unless @day
    No data available for this date
  - else
    - if @day.is_provisional
      .warn
        Content is marked as provisional
    
    Original PDF &rarr; 
    %a{:href => "/pdf-demo.html?pdf=#{CGI::escape(@day.pdf_info['filename']).gsub("+", "%20")}&page=#{@day.pdf_info['page']}", :target => "_new"}= @day.pdf_info["filename"]
    
    - if @day.note
      %div
        %br
        = @day.note
    
    - if @day.has_time_blocks?
      - @day.time_blocks.each do |block|
        %h3{:class => block.id, :onMouseOver => "viewer.highlightPdfLine('pdf/#{block.pdf_info['filename']}', #{block.pdf_info['page']}, #{block.pdf_info['line']});", :onMouseOut => "viewer.removeHighlights()"}
          = block.title
        -if block.note
          %span{:onMouseOver => "viewer.highlightPdfLine(#{block.pdf_info['line'] + 1});", :onMouseOut => "viewer.removeHighlights()"}
            = block.note
  
        -block.business_items.each do |item|
          .lead{:class => item.id, :onMouseOver => "viewer.highlightPdfLines('pdf/#{item.pdf_info['filename']}', #{item.pdf_info['page']}, #{item.pdf_info['line']}, #{item.pdf_info['last_line'].to_i});", :onMouseOut => "viewer.removeHighlights()"}= item.description

- if @day
  #pdf-viewer
    %div#controlBar
    %div#pdfContainer{:class => "pdf-content", :style => "position: relative"}
  
  :javascript
    $( "#pdf-viewer" ).css("margin-left", $( "#editor" ).width() + 10 + "px" );
    var viewer = new PdfViewer(0.8, 'pdf/#{@day.pdf_info["filename"]}', #{@day.pdf_info["page"]}); viewer.render(); 
  %hr