%h2
  =@date.strftime("%A, %e %B %Y")
  
#editor.lead
  - unless @day
    No data available for this date
  - else
    - if @day.is_provisional
      .warn
        Content is marked as provisional
    
    Original PDF &rarr; 
    %a{:href => "/pdf-demo.html?pdf=#{CGI::escape(@day.pdf_info['filename']).gsub("+", "%20")}&page=#{@day.pdf_info['page']}", :target => "_new"}= @day.pdf_info["filename"]
    
    - if @day.note
      = @day.note
    
    - if @day.has_time_blocks?
      - @day.time_blocks.each do |block|
        %h3{:class => block.id}
          = block.title
        -if block.note
          = block.note
  
        -block.business_items.each do |item|
          .lead{:class => item.id}= item.description

- if @day
  #pdf-viewer
    %div#controlBar
    %div#pdfContainer{:class => "pdf-content", :style => "position: relative"}
  
  :javascript
    $( "#pdf-viewer" ).css("margin-left", $( "#editor" ).width() + 10 + "px" );
    drawViewer(0.8, '#{@day.pdf_info["filename"]}', #{@day.pdf_info["page"]}) 
  %hr