%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Questioner
      %th Text
      %th Answerer
      %th Department
  %tbody
    - @oral_questions.each do |oral_question|
      %tr
        %td= oral_question.date_string
        %td= oral_question.questioner
        %td= oral_question.text
        %td= oral_question.answerer
        %td= oral_question.department
      -# %tr
      -#   %td(colspan = '5') 
      -#     %textarea.form-control(rows = '3')= oral_question.complete    